{
    "singleQuote": false,
    "semi": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^node:*",
        "^vite",
        "^react",
        "^react-dom",
        "^react-router-dom",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "^./(.*)$",
        "^[./]"
    ]
}
